<div class="main">
  <div class="container b-container p-3" id="b-container">
    <form class="form" id="b-form" [formGroup]="passwordForm">
      <div class="row mb-3">
        <div class="col-sm-12">
          <img src="assets/logoz.png" class="ms-lg-5" width="350px" height="80px">
                    <h2 class="form_title title text-center">Reset Password</h2>
        </div>
      </div>
      <hr />
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="form-group">
            <label>E-mail Address</label>
            <input
              class="form__input form-control"
              type="email"
              placeholder="E-mail Address"
              [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" placeholder="E-mail Address" formControlName="email" name="email"
              required
            />

            <span *ngIf="submitted || form['email'].touched || form['email'].dirty && form['email'].invalid" class="info-msg text-danger">
                <small *ngIf="form['email'].errors && form['email'].errors?.['required']">Email is required.</small>
                <small *ngIf="form['email'].errors && form['email'].errors?.['pattern']">Please enter a valid email.</small>
            </span>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Current Password</label>
            <input
              class="form__input form-control"
              [type]="showPassword ? 'text' : 'currentPassword'"
              [ngClass]="{ 'is-invalid': submitted && form['currentPassword'].errors }"  placeholder="Current or Existing Password" formControlName="currentPassword"
            />
            <span (click)="onPasswordToggle()" toggle="#currentPassword" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" class="fa fa-fw field-icon password-toggler"></span>
            <span *ngIf="submitted || form['currentPassword'].touched || form['currentPassword'].dirty && form['currentPassword'].invalid" class="info-msg text-danger">
                <small *ngIf="form['currentPassword'].errors && form['currentPassword'].errors?.['required']">Current Password is required.</small>
                <small *ngIf="form['currentPassword'].errors && form['currentPassword'].errors?.['minlength']">Should have at least 6 characters.</small>
            </span>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="form-group">
            <label>New Password</label>
            <input
              class="form__input form-control"
              [type]="showPassword ? 'text' : 'newPassword'"
              [ngClass]="{ 'is-invalid': submitted && form['newPassword'].errors }"  placeholder="New Password" formControlName="newPassword"
            />
            <span (click)="onPasswordToggle()" toggle="#newPassword" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" class="fa fa-fw field-icon password-toggler"></span>
            <span *ngIf="submitted || form['newPassword'].touched || form['newPassword'].dirty && form['newPassword'].invalid" class="info-msg text-danger">
                <small *ngIf="form['newPassword'].errors && form['newPassword'].errors?.['required']">New Password is required.</small>
                <small *ngIf="form['newPassword'].errors && form['newPassword'].errors?.['minlength']">Should have at least 6 characters.</small>
            </span>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Confirm New Password</label>
            <input
              class="form__input form-control"
              [type]="showPassword ? 'text' : 'rePassword'"
              [ngClass]="{ 'is-invalid': submitted && form['rePassword'].errors }"  placeholder="Confirm New Password" formControlName="rePassword"
            />
            <span (click)="onPasswordToggle()" toggle="#rePassword" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" class="fa fa-fw field-icon password-toggler"></span>
            <span *ngIf="submitted || form['rePassword'].touched || form['rePassword'].dirty && form['rePassword'].invalid" class="info-msg text-danger">
                <small *ngIf="form['rePassword'].errors && form['rePassword'].errors?.['required']">Confirm New Password is required.</small>
                <small *ngIf="form['rePassword'].errors && form['rePassword'].errors?.['minlength']">Should have at least 6 characters.</small>
            </span>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="errorMessage">
        <div class="col-sm-12">
          <div class="form-group">
            <span class="info-msg text-danger">
              {{errorMessage}}
            </span>
          </div>
        </div>
      </div>

      <div class="mb-4 row mt-3">
        <div class="col-sm-12 text-center">
          Forgot your password ? <a href="javascript:void(0);" (click)="onPasswordReset()" class="text-muted"><i class="fa fa-lock"></i> Reset Here</a>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-12">
          <button (click)="onResetPassword(passwordForm.value)" class="btn btn-outline-primary w-100">
            {{ btnStatus }}
          </button>
        </div>
      </div>

      <div class="mb-4 row mt-4">
        <div class="col-sm-12 text-center">
          Don't Have an Account ? <a href="javascript:void(0);" (click)="onCreateAccount()" class="text-muted"><i class="fa fa-user-circle"></i> Create Here</a>
        </div>
      </div>
    </form>
  </div>
</div>
