<div class="main">
  <div class="container b-container p-3" id="b-container">
    <form class="form" id="b-form" [formGroup]="signUpForm">
      <div class="row mb-3">
        <div class="col-sm-12">
          <h2 class="form_title title text-center">Create Your Account</h2>
        </div>
      </div>
      <hr />

      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="form-group">
            <label>First Name</label>
            <input
              class="form__input form-control"
              type="text"
              placeholder="First Name"
              [ngClass]="{ 'is-invalid': submitted && form['firstName'].errors }" placeholder="Your First Name" formControlName="firstName" name="firstName"
              required
            />

            <span *ngIf="submitted || form['firstName'].touched || form['firstName'].dirty && form['firstName'].invalid" class="info-msg text-danger">
                <small *ngIf="form['firstName'].errors && form['firstName'].errors?.['required']">First Name is required.</small>
                <small *ngIf="form['firstName'].errors && form['firstName'].errors?.['minlength']">Should have min 3 valid characters.</small>
                <small *ngIf="form['firstName'].errors && form['firstName'].errors?.['maxlength']">Should contains max 25 characters.</small>
            </span>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Last Name</label>
            <input
              class="form__input form-control"
              type="text"
              placeholder="Last Name"
              [ngClass]="{ 'is-invalid': submitted && form['lastName'].errors }" placeholder="Your Last Name" formControlName="lastName" name="lastName"
              required
            />

            <span *ngIf="submitted || form['lastName'].touched || form['lastName'].dirty && form['lastName'].invalid" class="info-msg text-danger">
                <small *ngIf="form['lastName'].errors && form['lastName'].errors?.['required']">Last Name is required.</small>
                <small *ngIf="form['lastName'].errors && form['lastName'].errors?.['minlength']">Should have min 3 valid characters.</small>
                <small *ngIf="form['lastName'].errors && form['lastName'].errors?.['maxlength']">Should contains max 25 characters.</small>
            </span>
          </div>
        </div>
      </div>


      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="form-group">
            <label>E-mail Address</label>
            <input
              class="form__input form-control"
              type="email"
              placeholder="E-mail Address"
              [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" placeholder="E-mail Address" formControlName="email" name="email"
              required
            />

            <span *ngIf="submitted || form['email'].touched || form['email'].dirty && form['email'].invalid" class="info-msg text-danger">
                <small *ngIf="form['email'].errors && form['email'].errors?.['required']">Email is required.</small>
                <small *ngIf="form['email'].errors && form['email'].errors?.['minlength']">Please enter a valid email.</small>
            </span>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Address</label>
            <input
              class="form__input form-control"
              type="address"
              placeholder="Address"
              [ngClass]="{ 'is-invalid': submitted && form['address'].errors }" formControlName="address" name="address"
              required
            />

            <span *ngIf="submitted || form['address'].touched || form['address'].dirty && form['address'].invalid" class="info-msg text-danger">
                <small *ngIf="form['address'].errors && form['address'].errors?.['required']">Address is required.</small>
            </span>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Password</label>
            <input
              class="form__input form-control"
              [type]="showPassword ? 'text' : 'password'"
              [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"  placeholder="Password" formControlName="password"
            />
            <span (click)="onPasswordToggle()" toggle="#password" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" class="fa fa-fw field-icon password-toggler"></span>
            <span *ngIf="submitted || form['password'].touched || form['password'].dirty && form['password'].invalid" class="info-msg text-danger">
                <small *ngIf="form['password'].errors && form['password'].errors?.['required']">Password is required.</small>
                <small *ngIf="form['password'].errors && form['password'].errors?.['minlength']">Should have at least 6 characters.</small>
            </span>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="errorMessage">
        <div class="col-sm-12">
          <div class="form-group">
            <span class="info-msg text-danger">
              {{errorMessage}}
            </span>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-12">
          <button (click)="onUserLogin(signUpForm.value)" [disabled]="submitted" class="btn btn-outline-primary w-100">
            {{ btnStatus }}
          </button>
        </div>
      </div>

      <div class="mb-2 row mt-4">
        <div class="col-sm-12 text-center">
          Already Have an Account ? <a href="javascript:void(0);" (click)="onClickToLogin()" class="text-muted"><i class="fa fa-user-circle"></i> Login Here</a>
        </div>
      </div>
    </form>
  </div>
</div>
