<!--<app-create-subgroup></app-create-subgroup>-->
<div class="col-md-12 col-xl-8 middle-wrapper mt-5">
  <div class="row">
    <h1>All Groups</h1>
    <button (click)="onCreateSubGroup()" class=" btn btn-primary justify-content-end">Create Group</button>
    <div class="col-md-12 grid-margin" *ngFor="let subGroup of subGroups; let i = index;" class="mb-4">
      <div class="card rounded">
        <div class="card-body mb-4">
          <h2>{{subGroup?.name}}</h2>
          <p class="mb-3 tx-14">{{subGroup?.description}}</p>
          <img *ngIf="subGroup?.images" class="img-fluid" src="assets\{{subGroup?.images}}" alt="">
          <p>Total Users: {{subGroup?.users?.length}}<span
            class="m-lg-5">Total Posts: {{subGroup?.numberOfPosts}}</span></p>
        </div>
        <div class="card-footer" *ngIf="subGroup?.canJoinGroup">
          <div class="d-flex post-actions">
            <a href="javascript:;" class="d-flex align-items-center text-muted m-lg-2">
              <i class="fa fa-plus" (click)="onJoinSubGroup(subGroup)"></i><strong>Join Group</strong>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

